@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-amarelo: #fcb404;
  --color-vermelho2: #e73823;
  --color-vermelho: #c70a0b;
  --color-azul: #045B64;

  --color-main-green-50: #ebfef6;
  --color-main-green-100: #cffce8;
  --color-main-green-200: #a4f6d5;
  --color-main-green-300: #a4f6d5;
  --color-main-green-400: #a4f6d5;
  --color-main-green-500: #09B285;
  --color-main-green-600: #009b75;
  --color-main-green-700: #007c61;
  --color-main-green-800: #03624d;
  --color-main-green-900: #035141;
  --color-main-green-950: #002e26;

  --color-main-yellow-50: #fff8eb;
  --color-main-yellow-100: #ffeac6;
  --color-main-yellow-200: #ffc86b;
  --color-main-yellow-300: #ffb64a;
  --color-main-yellow-400: #ff9b20;
  --color-main-yellow-500: #f97507;
  --color-main-yellow-600: #dd5102;
  --color-main-yellow-700: #b73506;
  --color-main-yellow-800: #94280c;
  --color-main-yellow-900: #7a210d;
  --color-main-yellow-950: #460e02;

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(175 70% 41%);
  --color-primary-foreground: hsl(210 40% 98%);
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius: var(--radius);
}

html,
body {
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 246 76% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 246 76% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
